/* Style Sheet */

.active {
  background-color: green;
  color: white;
}

.players-section,
.game-title {
  display: flex;
  justify-content: space-around;
}

#p1-window,
#p2-window {
  border: 1px solid grey;
  border-radius: 10px;
  text-align: center;
  padding: 15px 50px;
}
